/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Navigation styling */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Other section styling */
section {
    padding: 50px;
    text-align: center;
}

#home {
    background-image: url('binary.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

#about {
    background-color: #f9f9f9;
}

#projects {
    background-color: #fff;
    overflow-x: auto;
    white-space: nowrap;
}

.project {
    display: inline-block;
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contact {
    background-color: #f9f9f9;
}
